@import "../../../css/_settings.scss";

.input-wrapper,
.keywords-wrapper {
  #edit-submit-search,
  .button.submit {
    background: transparent url(../images/svg/icon-Search-med-blue.svg) center no-repeat;
    width: 60px;
    color: white;
    font-size: 0;
    line-height: 10px;
    bottom: 10px;
    position: relative;
    right: 69px;
  }
}

.keywords-wrapper {
  > .input-wrapper {
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
}

.js-form-item-keywords {
  border-bottom: solid 1px $darkest-gray;
  width: 100%;

  @include breakpoint(medium up) {
    max-width: 590px;
    height: 70px;
    width: 100%;
  }
  input[type="text"] {
    border-width: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: $body-font-family;
    font-size: 28px;
    font-weight: normal;
    line-height: 0.93;
    letter-spacing: 0.2px;
    color: $darkest-blue;
    padding: 23px;
    margin: 0;
  }
  input {
    background-size: 35px;
    width: 100%;
  }
  input#edit-keywords {
    background: transparent;
  }

}


