<div class="input-wrapper">
  <div class="js-form-item-keywords">
    <input data-drupal-selector="edit-keywords" type="text" id="edit-keywords" name="keywords" value="" size="30" maxlength="128" class="form-text" placeholder="Search...">
  </div>
</div>
