<div class="grid-container grid-x">
  <div class="medium-8 medium-offset-2">
    <div class="grid-container grid-x info-grid {{ class }}">
      <div class="cell medium-4">
        {{ first|raw }}
      </div>
      <div class="cell medium-4">
        {{ middle|raw }}
      </div>
      <div class="cell medium-4">
        {{ last|raw }}
      </div>
    </div>
  </div>
</div>