<div class="grid-container grid-x info-grid {{ class }}">
  <div class="medium-8 medium-offset-2">
    <div class="grid-container grid-x info-grid-wrapper">
      <div class="cell medium-4">
        {{ first }}
      </div>
      <div class="cell medium-4">
        {{ middle }}
      </div>
      <div class="cell medium-4">
        {{ last }}
      </div>
    </div>
  </div>
</div>