@import "../../../css/_settings.scss";


.block-contactus {
  font-size: 14px;
  line-height: 1.43;
  padding-bottom: .5rem;
  h2 {
    font-size: $header-block-title;
    font-weight: $global-weight-bold;
    margin-bottom: 1.7rem;
    line-height: normal;
  }
  h3, h5 {
    font-weight: $global-weight-bold;
    font-size: 14px;
    margin-bottom: 0;
  }
  @include breakpoint(small only) {
    text-align: center;
    margin-top: 1.5rem;
    padding-bottom: 20px;
  }
  a {
    color: #ffffff;
  }
}
