<div class="show-for-small-only search-box-mobile">
  <div class="grid-x">
    <div class="cell auto">
      <a class="button search" href="#"><span>Search</span></a>
    </div>
    <div class="cell auto">
      <a class="button contact" href="#">Contact us</a>
    </div>
  </div>
  <div id="mobile-search-form" class="is-hidden">
  <button class="close-button" data-close>&times;</button>
    <form action="/search" method="get" id="search-block-form" accept-charset="UTF-8" >
        <div class="field-wrapper">
          <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keywords" type="search" id="edit-keywords" name="keywords" value="" size="15" maxlength="128" class="form-search">
        </div>
        <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Search" class="button js-form-submit form-submit">
      </form>
    </div>
  </div>
