<div class="card-columns grid-container">
  <div class="grid-x grid-padding-x">
    <div class="medium-10 medium-offset-1 list-title">
      {{ title }}
    </div>
    <div class="medium-10 medium-offset-1 list-content">
      {{ cards }}
    </div>
  </div>
</div>
