@import "../../../css/_settings.scss";

.cta-list {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 70px;

  .list-title {
    margin: 56px auto;
    font-family: $font-family-monospace;
    font-size: 35px;
    font-weight: $global-weight-bold;
    text-align: center;
    color: $white;
  }

  .list-content {
    background-color: rgba(0,0,0,0.5);
  }
  
  .list-title,
  .list-content {
    z-index: 1;
  }
  
  .c-card {
    margin: 0;
  }
}