<div class="c-tabs grid-container">
  <div class="grid-x" data-equalizer>
    <div class="c-tabs--image show-for-large hero-overlay large-3 large-offset-1" style="background-image: url({{ image }})" data-equalizer-watch>
    </div>
    {{ tabs }}
  </div>
</div>
