@import "../../../css/_settings.scss";

.carousel-title {
  margin: 56px auto 0;
  font-size: 35px;
  text-align: center;
}

.c-carousel {
  margin-top: rem-calc(25);

  .orbit-bullets {
    margin-top: rem-calc(25);

    button {
      background-color: $light-blue;
    }
    button.is-active {
      background-color: $medium-blue;
    }
  }

  @media screen and (max-width: 600px) {
    .orbit-previous, .orbit-next {
      display: none;
    }
  }
}