@import "../../../css/_settings.scss";

li.c-slide {

  .slide-content {
    display: flex;
    justify-content: center;
  }

  .slide-text {
    width: 30%;
    margin-right: 20px;

    .slide-title {
      font-weight: bold;
      line-height: 1.2;
      font-size: 1.375rem;
      margin-bottom: rem-calc(25);
    }
  }
}