@import "../../../css/_settings.scss";

li.orbit-slide {

  .slide-content {
    margin: 0 auto;
  }

  .slide-text {
    width: 50%;
    text-align: left;

    .slide-title {
      font-weight: bold;
    }
  }

  .slide-image {
    width: 50%;
    float: right;
  }
}