<div class="card text-card">
  <div class="card-section">
    <h4>Are you part of a research team?</h4>
    <p>We can get your project off the ground.</p>
    <a href="#" class="button">Let's Talk</a>
  </div>
</div>