<div class="eu-cookie-compliance-banner eu-cookie-compliance-banner-info">
  <div class="popup-content">
    <div id="popup-heading">
      <div class="grid-container">This site uses cookies</div>
    </div>
    <div class="grid-container">
      <div class="grid-x">
        <div id="popup-text" class="cell medium-9">
          {{ message }}
          {% if disagree_button %}
            <button type="button" class="find-more-button">{{ disagree_button }}</button>
          {% endif %}
        </div>
        <div id="popup-buttons" class="cell medium-3">
          <button type="button" class="button button-agree agree-button">{{ agree_button }}</button>
          {% if secondary_button_label %}
            <button type="button" class="button clear button-disagree decline-button" >{{ secondary_button_label }}</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
