<div class="grid-container grid-x">
  <main role="main" class="medium-6 medium-offset-3">
  <h1><img src="../../images/logo-196x196.png" width="196" height="187" title="Henry M. Jackson Foundation" alt="Henry M. Jackson Foundation"/></h1>
  {{ page.content|raw }}
  </main>
</div>