<footer class="footer-overlay">
    <div class="grid-container grid-x">
      <div id="footer-first" class="medium-3 cell">
        {% include "molecules-contact" %}
      </div>
      <div id="footer-middle" class="medium-3 large-4 cell">
        {% include "molecules-footer" %}
      </div>
      <div id="footer-last" class="medium-5 cell">
        {% include "molecules-donation" %}
      </div>
    </div>
</footer>
