{# {{ content }} #}

<div class="document-component">
  <div class="grid-container grid-x">
    <div class="medium-6 medium-offset-3">
      <img src="{{ image }}" class="document-preview"/>
      <a href="{{ file }}" class="button">Download</a>
    </div>
  </div>
</div>