<div class="grid-container">
  <div class="grid-x grid-margin-x" style="height:200px;">
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
  </div>
</div>

