<nav role="navigation" aria-labelledby="block-utilitymenu-menu" id="block-utilitymenu" class="contextual-region block-utilitymenu">
  <h2 class="block-title visually-hidden" id="block-utilitymenu-menu">Utility menu</h2>
  <ul class="menu">
    <li>
      <a href="/" data-drupal-link-system-path="<front>">Find Research Funding</a>
    </li>
    <li>
      <a href="/" data-drupal-link-system-path="<front>">Customer Portal</a>
    </li>
    <li>
      <a href="/" data-drupal-link-system-path="<front>">Careers</a>
    </li>
    <li>
      <a href="/" data-drupal-link-system-path="<front>" class="button">Contact Us</a>
    </li>
  </ul>
</nav>
