@import "../../../css/_settings.scss";

.c-tabs {
  margin: 0 auto;
  border: 0;
  background-color: transparent;
  margin-bottom: rem-calc(30);
  position: relative;
  padding: 0;

  &--image {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @include breakpoint(medium) {
    position: relative;
    top: -40px;
    margin-bottom: rem-calc(70);
    z-index: 2;
    padding-left: .625rem;
    padding-right: .625rem;
  }
  &--tab-list {
    background-color: #ffffff;
    width: 100%;
  }
  &--tab-content {
    height: 100%;
    background-color: $primary-color;
    .tabs-content {
      border: none;
      border-top: 0;
      background: transparent;
      color: inherit;
      height: 100%;
      transition: inherit;
    }
  }
}

// Tab List Styles
#tabs {
  border: none;
  list-style-type: none;
  height: 100%;

  &:before,
  &:after {
    display: none;
  }

  @include breakpoint(medium) {
    padding: rem-calc(49 0);
    margin-left: 1.25rem;
  }

  .tabs-title {
    display: flex;
    align-items: center;
    float: none;

    @include breakpoint(medium) {
      border-right: 10px solid transparent;
      padding: rem-calc(0 20 0 0);
      min-height: rem-calc(60);
      margin-bottom: 1rem;
    }
    @include breakpoint(large) {
      padding: rem-calc(0 40);
    }
    a {
      background-color: transparent;
      color: $darkest-gray;
      font-family: $font-family-monospace;
      font-size: rem-calc(22);
      line-height: rem-calc(30);
      padding: 0;
      vertical-align: middle;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.is-active {
      font-weight: $global-weight-bold;
      border-color: $warning-color;
    }
    &:hover {
      border-color: $light-blue;
      font-weight: $global-weight-bold;
    }
  }
}

// Tab Panel styles
.tabs-panel {
  padding: rem-calc(65 50);
  color: #ffffff;
  display: none;
  @include breakpoint(small only) {
    padding: rem-calc(31 10);
  }
  @include breakpoint(medium only) {
    padding: rem-calc(20);
  }
  &.is-active {
    display: block;
    height: 100%;
  }

  h2 {
    margin-bottom: 1rem;
    font-family: $font-family-monospace;
    font-weight: $global-weight-bold;
    line-height: 1.29;
  }
  &__summary {
    padding-bottom: 2rem;
  }

  &__button {
    @include breakpoint(small only) {
      text-align: center;
    }
    .button {
      font-weight: $global-weight-bold;
      font-size: rem-calc(16);
    }
  }

  &__footer {
    font-weight: 600;
    @include breakpoint(small only) {
      text-align: center;
    }

    a {
      color: $white;
    }
  }
}
