<header aria-label="{{ 'Site header'|t }}">
  <div class="grid-container grid-x">
    <div class="small-1 cell">
      {{ linked_logo }}
    </div>

    <div class="small-11 cell">
      <div class="show-for-small-only">
        <div class="hamburger-wrapper">
          <button class="mobile-open" type="button" data-open="offCanvasTop">Menu</button>
          <button class="mobile-close" type="button" data-close="offCanvasTop">Close</button>
        </div>
      </div>

      {% if page.header %}
      <div class="show-for-medium">
        {{ page.header }}
      </div>
      {% endif %}

    </div>

  </div>
</header>

{% if page.navigation %}
  {{ page.navigation }}
{% endif %}
