<form action="/search" method="get" id="search-block-form" accept-charset="UTF-8">

  <div class="field-wrapper">
    <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search">
  </div>
  <a class="search-toggle"></a>
</form>
