<style>
  .cell {
    background-color: #cce5ff;
  }
</style>
<div class="grid-container">
<h4>12 Columns</h4>
  <div class="grid-x grid-margin-x" style="height:200px;">
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
  </div>

<h4>Split Columns</h4>
  <div class="grid-x grid-margin-x" style="height:200px;">
    <div class="cell medium-6 large-8">12/6/8</div>
    <div class="cell medium-6 large-4">12/6/4</div>
  </div>

<h4>Split Columns</h4>
  <div class="grid-x grid-margin-x" style="height:200px;">
    <div class="cell medium-6 large-4">12/6/4</div>
    <div class="cell medium-6 large-8">12/6/8</div>
  </div>
</div>

