<span style="margin: 0 20px;"><img src="../../../images/svg/icon-Camera.svg" alt="icon-Camera" /></span>

<span style="margin: 0 20px;"><img src="../../../images/svg/icon-Play.svg" alt="icon-Play" /></span>

<span style="margin: 0 20px;"><img src="../../../images/svg/icon-PDF.svg" alt="icon-PDF" /></span>