<span style="margin: 0 20px;"><img src="../../../images/svg/icon-Twitter.svg" alt="icon-Twitter" /></span>

<span style="margin: 0 20px;"><img src="../../../images/svg/icon-Facebook.svg" alt="icon-Facebook" /></span>

<span style="margin: 0 20px;"><img src="../../../images/svg/icon-LinkedIn.svg" alt="icon-LinkedIn" /></span>

<span style="margin: 0 20px;"><img src="../../../images/svg/icon-YouTube.svg" alt="icon-YouTube" /></span>