<span style="margin: 0 20px;"><img src="../../../images/svg/icon-Warning.svg" alt="icon-Warning" /></span>

<span style="margin: 0 20px;"><img src="../../../images/svg/icon-Stop.svg" alt="icon-Stop" /></span>

<span style="margin: 0 20px;"><img src="../../../images/svg/icon-DownArrow.svg" alt="icon-DownArrow" /></span>

<span style="margin: 0 20px;"><img src="../../../images/svg/icon-SelectorArrows.svg" alt="icon-SelectorArrows" /></span>

<span style="margin: 0 20px;"><img src="../../../images/svg/icon-Search.svg" alt="icon-Search" /></span>

<span style="margin: 0 20px;"><img src="../../../images/svg/icon-Close.svg" alt="icon-Close" /></span>

<span style="margin: 0 20px;"><img src="../../../images/svg/icon-Hamburger.svg" alt="icon-Hamburger" /></span>