@import "../../../css/_settings.scss";

footer {
  background-color:  $medium-blue;

  padding: rem-calc(38 0);
  .grid-container {
    @include breakpoint(medium down) {
      justify-content: space-between;
    }
    @include breakpoint(small only) {
      #footer-first {
        order: 3;
      }
      #footer-last {
        order: 1;
      }
      #footer-middle {
        order: 2;
      }
    }
  }
  .cell {
    position:relative;
    z-index: 20;
    color: #ffffff;
    .block-hjf-footer a {
      color: #ffffff;
      &:hover,
      &.active {
        color: $light-blue;
      }
    }
  }
}

.bottom-bar {
  @include breakpoint(small only) {
    padding-bottom: 55px;
  }
  &.callout {
    margin-bottom: 0;
  }
  .copyright-info {
    text-align: center;
    a {
      font-weight: $global-weight-bold;
      margin-right: 1rem;
      @include breakpoint(small only) {
        display: block;
        text-align: center;
        margin: 0 auto 1rem;
      }
    }
  }
}
