<nav role="navigation" aria-labelledby="block-social-menu" id="block-social" class="block-social">
  <h2 class="block-title visually-hidden" id="block-social-menu">Social</h2>
  <ul class="menu">
    <li>
      <a href="/" class="facebook" target="_blank" data-drupal-link-system-path="<front>">Facebook</a>
    </li>
    <li>
      <a href="/" class="linkedin" data-drupal-link-system-path="<front>">LinkedIn</a>
    </li>
    <li>
      <a href="/" class="twitter" data-drupal-link-system-path="<front>">Twitter</a>
    </li>
  </ul>
</nav>
