@import "../../../css/_settings.scss";

.footer-overlay {
  background-image: url("../images/svg/HJF-branding-dark-blue.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
    background-size: contain;
  @include breakpoint(medium up) {
    background-size: 50% auto;
  }
}
