@import "card.scss";

//.c-card styles
.c-card {
  $self: &;
  // c-card--text styles
  &--cta {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 5px transparent;
    color: $white;
    display: block;
    padding: rem-calc(40);
    @include breakpoint(medium) {
      max-width: 360px;
      padding: rem-calc(50 55 55);
    }

    #{ $self }__heading {
      padding-bottom: rem-calc(21);
      margin-bottom: 0;
      color: $white;
    }

    #{ $self }__overlay {
      color: $white;
    }

    .c-card__content {
      padding: 0;
    }

    .c-card__overlay-button {
      width: 0;
      transition: width .8s ease;
      white-space: nowrap;
    }


    &:hover {
      .button {
        background-color: $light-blue;
      }
      border: solid 5px #c4e2f5;
      .c-card__overlay-button {
        text-align: center;
        width: 100%;
        transition: width .8s ease;
      }
    }

  } // .c-card--text
} // .c-card
