@import "../../../css/_settings.scss";

.c-card--split {
  h3 {
    font-family: $font-family-monospace;
    font-size: rem-calc(35);
    line-height: 1.29;
    letter-spacing: 0.2px;
    font-weight: bold;
  }

  @include breakpoint(small only) {
    h3 {
      margin-bottom: 20px;
      font-size: 24px;
    }
    .button-wrapper {
      text-align: center;
      .button {
        margin-top: 30px;
      }
    }
  }
}

.c-card--img_right {
  @include breakpoint(medium) {
    .c-card--image {
      order: 2;
    }
    .c-card--content {
      order: 1;
    }
  }
}

.c-card--img_left,
.c-card--img_right {
  .c-card--image {
    img {
      width: 100%;
      height: auto;

      @include breakpoint(medium) {
        object-fit: cover;
        width: auto;
        height: 100%;
      }
      @include breakpoint(xlarge) {
        object-fit: unset;
        width: 100%;
        height: auto;
      }
    }
  }
  .c-card--content {
    display: flex;
    align-items: center;
    justify-content: center;

    .content-wrapper {
      padding: rem-calc(20 10);
      @include breakpoint(small only) {
        font-size: 16px;
      }
      @include breakpoint(medium only) {
        padding: rem-calc(40);
      }
      @include breakpoint(large) {
        max-width: 465px;
        margin: rem-calc(20 61 20 66);
      }
      @include breakpoint(xlarge) {
        margin: rem-calc(0 122 0 132);
      }
    }
  }
}
