{# see: https://foundation.zurb.com/sites/docs/card.html #}
<div class="card">
  <img src="//foundation.zurb.com/sites/docs/assets/img/generic/rectangle-1.jpg" />
  <div class="card-section">
    <h4>{{ title }}</h4>
    {{ content }}
  </div>
</div><!-- card -->