{# see: https://foundation.zurb.com/sites/docs/card.html #}
<div class="card" style="width: 300px;">
  <div class="card-divider">
    This is a header
  </div>
  <img src="//foundation.zurb.com/sites/docs/assets/img/generic/rectangle-1.jpg" />
  <div class="card-section">
    <h4>This is a card.</h4>
    {{ content }}
  </div>
</div>