
@import "card.scss";

$card-reveal-transition-speed: 0.6s;

//.c-card styles
.c-card {
  $self: &;
  // c-card--reveal styles
  &--reveal {
    position: relative;
    cursor: pointer;
    @include breakpoint(medium) {
      max-width: 390px;
    }
    min-height: 400px;
    overflow: hidden;
    background-color: $primary-color;

    #{ $self }__image {
      position: relative;
        min-height: 160px;
        img {
          min-height: 160px;
          width: 100%;
          height: auto;
        }
      @include breakpoint(medium) {
        min-height: 200px;
      }
    }

    #{ $self }__type {
      background-color: $light-blue;
      padding: rem-calc(10 15);
      position: absolute;
      left: 24px;
      bottom: 20px;
      @include breakpoint(medium) {
        left: 50px;
      }
    }

    #{ $self }__content {
      color: #ffffff;
    }

    #{ $self }__overlay-heading {
      @extend .c-card__heading;
    }

    #{ $self }__overlay-date {
      padding-bottom: rem-calc(14);
    }

    #{ $self }__overlay {
      background-color: $primary-color;
      bottom: 0;
      display: block;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 100%;
      height: 100%;
      transition: top $card-reveal-transition-speed ease-in-out;
      padding: rem-calc(24 28);
      @include breakpoint(medium) {
        padding: rem-calc(44 50);
      }
      &.hover {
        top: 0;
        z-index: 1;
      }

      #{ $self }__overlay-author {
        padding-bottom: rem-calc(10);
        font-weight: $global-weight-bold;
      }
    }
  } // .c-card__overlay
} // .c-card
