@import "../../../../css/_settings.scss";

.region--navigation {
  @include breakpoint(medium) {
  background-color: $medium-blue;
  .dropdown.menu {
     > li {
       > a {
        padding: rem-calc(25 20);
        color: #ffffff;
        font-weight: bold;
        &:hover {
          background-color: $primary-color;
          color: #ffffff;
        }
      }
      &.is-active {
        > a {
          background-color: $primary-color;
          color: #ffffff;
        }
      }
      &.is-dropdown-submenu-parent {
        > a {
          padding-right: rem-calc(52);
          &:after {
            border-top-color: #ffffff;
            border-top-width: 7.5px;
            right: 20px;
          }
        }
      }
      .is-dropdown-submenu {
        background-color: $primary-color;
        border: 0;
        min-width: 348px;
        a {
          color: #ffffff;
          padding: rem-calc(17 57 17 40);
          font-weight: bold;
          line-height: 1.5;
          &:hover {
            background-color: $light-blue;
            color: $darkest-gray;
            &:after {
              border-left-color: $darkest-gray;
            }
          }
        }
        .is-dropdown-submenu-parent.opens-right {
          > a {
            &:after {
              border-left-color: #ffffff;
              right: 17px;
              margin-top: -10px;
              border-top-width: 10px;
              border-bottom-width: 10px;
              border-left-width: 10px;
            }
          }

          &.is-active {
            > a {
              background-color: $light-blue;
              color: $darkest-gray;
              &:after {
                border-left-color: $darkest-gray;
              }
            }
          }

          .is-dropdown-submenu {
            top: calc(-100% + 1px);
            background-color: $light-blue;
            a {
              color: $darkest-gray;
              &:hover {
                color: #ffffff;
                background-color: $medium-blue;
              }
            }
          }
        }
      }
    }
  }
 }

// Mobile navigation
  @include breakpoint(small) {
    .is-drilldown {
      max-width: 100% !important;
    }
    .drilldown {
      a {
        background-color: $medium-blue;
        color: #ffffff;
        padding: 15px 30px 15px 58px;
        font-size: 1.143rem;
        line-height: 1.5;
        text-align: right;
        font-weight: $global-weight-bold;
        &:after {
          right: unset;
          left: 28px;
          border: 0;
          width: 15px;
          height: 15px;
          display: block;
          transform: rotate(90deg);
          background-color: #ffffff;
          -webkit-mask-image: url('../images/svg/icon-DownArrow.svg');
          mask-image: url('../images/svg/icon-DownArrow.svg');
          mask-size: contain;
          mask-repeat: no-repeat;
        }
        &:hover {
          background-color: $light-blue;
          color: $darkest-gray;
          &:after {
            background-color: $darkest-gray;
          }
        }
      }
      .js-drilldown-back {
        a {
          text-align: left;
          &:before {
            right: 15px;
            top: 20px;
            left: unset;
            border: 0;
            width: 15px;
            height: 15px;
            display: block;
            position: absolute;
            transform: rotate(-90deg);
            background-color: #ffffff;
            -webkit-mask-image: url('../images/svg/icon-DownArrow.svg');
            mask-image: url('../images/svg/icon-DownArrow.svg');
            mask-size: contain;
            mask-repeat: no-repeat;
          }
        }
      }
      ul {
        padding-bottom: 0;
        background-color: $primary-color;
        width: 100%;
        &.is-dropdown-submenu {
          border: 0;
        }
        a {
          color: #ffffff;
          background-color: $primary-color;
        }
        .js-drilldown-back a {
          background-color: $medium-blue;
          color: #ffffff;
          &:hover {
            background-color: $primary-color;
          }
        }
      }
    }
  }
}
