@import "../../../css/_settings.scss";

$hero-height: 500px;
$her-height-small: 230px;

.hero-section {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  width: 100%;

  @include breakpoint(small only) {
    background-size: contain;
    background-position: top center;
    padding-top: $her-height-small;
  }

  @include breakpoint(medium) {
    padding: rem-calc(80px 20px);
    height: $hero-height;
  }

  @include breakpoint(large up) {
    padding: rem-calc(146px 89px);
  }

  .hero-section-text {
    color: $white;
    font-family: $font-family-monospace;
    font-size: 45px;
    font-weight: bold;
    line-height: 1.22;
    letter-spacing: 0.3px;
    max-width: 954px;
    z-index: 1;
    width: 100%;

    h1 {
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 0.1px;
      margin-bottom: 18px;
    }
    .hosts {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.1px;

      a {
        color: $white;
        text-decoration: underline;
      }
    }
    .button {
      text-shadow: none;
      margin-top: 30px;
      margin-bottom: 0;
    }
    @include breakpoint(small only) {
      background-color: $medium-blue;
      font-size: 26px;
      padding: rem-calc(30 25);
      line-height: 1.35;

      h1 {
        font-size: 16px;
        margin-bottom: 20px;
      }

      .button {
        font-size: 16px;
      }
    }
  }
}
