<div style="position:fixed;top:0;height:100%;width:100%;">
<div class="grid-container grid-demo">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
    <div class="cell medium-1"></div>
  </div>
</div>
<style>
  .grid-demo {
    height: 100vh;
    opacity: .3;
  }
  .grid-demo .grid-x {
    height: 100%;
  }
</style>
</div>
