@import "../../../css/_settings.scss";

.block-exposedformsearchsearch + header,
.block-exposedformsearchsearch + .block-hjf-content header {
    font-family: $body-font-family;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: 0.1px;
    color: #252a35;
    max-width: 60rem;
    margin: 3rem 1rem 1rem;
}

.path-search {
    .views-element-container {
        max-width: 60rem;
        margin: 3rem auto 1rem;
    }
}
.block-exposedformsearchsearch + header {
    max-width: 60rem;
    margin: 3rem auto 1rem;
}
