@import "../../../css/_settings.scss";

.block-exposedformsearchsearch + header,
.block-exposedformsearchsearch + .block-hjf-content header {
  font-family: $body-font-family;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: 0.1px;
  color: #252a35;
  margin: 1rem 0 3rem;
}

.path-search {
  .view-search {
    > h3 {
      text-align: center;
    }
  }
  .media-object:hover {
    cursor: pointer;
  }
}

.view-recent-content {
  h2 {
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 0.2px;
    text-align: center;
    color: #212121;
  }
  .c-card--reveal {
    width: 390px;
    min-height: 440px;
    margin: 0 .5rem;
  }
}
