@import "../../../css/_settings.scss";

.category-chip {
  background-color: $light-blue;
  color: $darkest-gray;
  display: inline-block;
  font-size: $cite-font-size;
  font-weight: $global-weight-bold;
  padding: rem-calc(10 15);
  margin: 4rem 0 2rem;
  text-transform: capitalize;
  
/*
  &:hover {
    background-color: $primary-color;
    color: $white;
  }
*/
}