<div class="hero-section" style="background-image: url({{ image }});">
  <div class="hero-section-text">
    <h1>{{ title }}</h1>
    <div>{{ snippet }}</div>
    <div>{{ button|raw }}</div>
  </div>
</div>


