<div class="hero-section hero-overlay" style="background-image: url({{ image }});">

  <div class="hero-section-text card-overlay">
    <h1>{{ title }}</h1>
    <div>{{ snippet }}</div>
    <div>{{ button }}</div>
  </div>
</div>
