@import "../../../css/_settings.scss";

.media-object {
  max-width: 955px;
  margin-bottom: rem-calc(10);
  margin-right: auto;
  margin-left: auto;
  color: $darkest-gray;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;

  @include breakpoint(small down) {
    flex-direction: column;

    &-section {
      width: 100%;
      padding-bottom: 0;

      img {
        width: 100%;
      }
    }
  }

  @include breakpoint(large down) {
    &-section img {
      height: auto;
    }
  }

  &-section {
    &:first-child {
      padding-right: 0;
    }

    img {
      height: 100%;
    }
  }

  h3 {
    font-weight: $global-weight-bold;
    font-family: $font-family-monospace;
    line-height: 1.2;
    font-size: rem-calc(24);
    padding-bottom: rem-calc(18);
    margin-bottom: 0;
    color: $medium-blue;
    @include breakpoint(small only) {
      padding-bottom: 16px;
      font-size: 20px;
    }
  }

  .top {
    margin-bottom: $global-padding * 2;
    @include breakpoint(small down) {
      margin-bottom: 10px;
      margin-top: 1rem;
    }
    .type {
      background-color: $light-blue;
      padding: rem-calc(10 15);
      font-weight: $global-weight-bold;
    }
    .date {
      padding: rem-calc(10 15);
      @include breakpoint(small down) {
        display: block;
        padding-left: 0;
        margin-top: rem-calc(14);
        padding-bottom: 0;
        font-size: 16px;
      }
    }
  }

  .image-section {
    position: relative;
    z-index: 5;
    @include breakpoint(medium only) {
      flex: 0 1 auto;
      overflow: hidden;
    }
  }

  .main-section {
    position: relative;
    z-index: 20;
    background-color: $light-gray;
    padding: rem-calc(50 40);
    min-width: 50%;
    .inside {
      max-width: 730px;
    }
    @include breakpoint(small down) {
      padding: rem-calc(30 20);
    }

    .author {
      font-weight: $global-weight-bold;
      margin-bottom: rem-calc(10);
      @include breakpoint(small down) {
        font-size: 16px;
        margin-top: 0;
      }
    }
  }

  &:hover {
    background-color: $primary-color;
    color: #ffffff;
    .main-section {
      background-color: transparent;
    }
    .type {
      color: $darkest-gray;
    }
    h3 {
      color: #ffffff;
    }
  }
}
