@import "../../../css/_settings.scss";

.media-object {  

  @include breakpoint(small only) {
    flex-direction: column;
    
    &-section {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
  
  @include breakpoint(large down) {
    &-section img {
      height: auto;
    }
  }

  &-section {
    &:first-child {
      padding-right: 0;
    }
    
    img {
      height: 100%;
    }
  }

  &-section + &-section {
    background-color: $light-gray;
    padding: 40px 50px;
  }    
}