<blockquote>
  <p>Cras vulputate ipsum nec pulvinar tristique. Praesent pharetra, lacus vel sodales scelerisque, augue velit iaculis leo, nec faucibus nunc nisi nec metus. Curabitur ac diam quam.</p>
</blockquote>