@import "../../../css/_settings.scss";

.carousel-title {
  margin: 56px auto 0;
  font-size: 35px;
  text-align: center;
}

.c-carousel {
  margin-top: rem-calc(25);

  .orbit-bullets {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      background-color: $light-blue;
      margin: 0 .5rem;
    }
    button.is-active {
      background-color: $medium-blue;
    }
  }

  @media screen and (max-width: 600px) {
    .orbit-previous, .orbit-next {
      display: none;
    }
  }
}
