<h4>Primary Colors</h4>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #10445E;"></span>
		<span class="sg-label">Dark Blue: #10445E</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #206178;"></span>
		<span class="sg-label">Medium Blue: #206178</span>
	</li>
</ul>

<h4>Secondary Colors</h4>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #C4E2F5;"></span>
		<span class="sg-label">Light Blue: #C4E2F5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FDAB1B;"></span>
		<span class="sg-label">Gold: #FDAB1B</span>
	</li>
</ul>

<h4>Neutral Colors</h4>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #212121;"></span>
		<span class="sg-label">Darkest Grey: #212121</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5D6671;"></span>
		<span class="sg-label">Dark Grey: #5D6671</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #EEEEEE;"></span>
		<span class="sg-label">Light Grey: #EEEEEE</span>
	</li>
</ul>

<h4>Utility Colors</h4>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #BC0808;"></span>
		<span class="sg-label">Red: #BC0808</span>
	</li>
</ul>
