<section id="block-considerhelping" class="contextual-region block-considerhelping block block-simple-block block-simple-blockconsider-helping">
  <h2 class="block-title">Consider Helping</h2>
  <p>Your contribution will enable us advance ongoing research efforts for the welfare of all.</p>
  <p><a class="button" href="#">Donate</a></p>
</section>
