<div class="pl-checkboxes-wrapper">
  <div class="js-form-type-checkbox">
    <input data-drupal-selector="{{ selector }}" type="checkbox" id="{{ selector }}" name="research_area[27]" value="27" class="form-checkbox">
    <label for="{{ selector }}" class="option">{{ option }}</label>
  </div>
</div>
