@import "../../../css/_settings.scss";

.sliding-popup-bottom {
  width: 100%;
}

.eu-cookie-compliance-banner-info {
  background: $primary-color;
  overflow: hidden;
}

.eu-cookie-compliance-heading {
  background-color: #bc0808;
  text-align: left;
  width: 100%;
  
  h4 {
    color: #ffffff;
    font-family: $body-font-family;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.6;
    margin: 0 auto;
    padding: 10px 40px;
    max-width: $global-width;
  }
}

.eu-cookie-compliance-content {
  color: #ffffff;
  line-height: 1.5;
  margin: 0 auto;
  max-width: $global-width;
  padding: 40px;
  width: 100%;
  overflow: hidden;
}

.eu-cookie-compliance-more-button {
  color: $white;
  cursor: pointer;
  font-weight: normal;
  font-size: 14px;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: underline;
  background: none;
}

.eu-cookie-compliance-default-button.button.clear.disagree {
  margin: 0;
  padding: 0;
}

.eu-cookie-compliance-secondary-button {
  margin-top: 0;
}

.eu-cookie-compliance-buttons {
  float: right;
  max-width: 20%;
  text-align: center;
}

.eu-cookie-compliance-default-button,
.eu-cookie-compliance-secondary-button,
.eu-cookie-compliance-more-button,
.eu-cookie-compliance-hide-button,
.eu-cookie-withdraw-tab {
  cursor: pointer;
}

.eu-cookie-compliance-message {
  float: left;
  max-width: 60%;
}

@media screen and (max-width: 600px) {
  .eu-cookie-compliance-content {
    max-width: 95%;
  }

  .eu-cookie-compliance-message {
    max-width: 95%;
  }

  .eu-cookie-compliance-buttons {
    clear: both;
    float: none;
    max-width: 95%;
  }
}
