@import "../../../css/_settings.scss";
@import 'foundation';


.block-social {
  @include breakpoint(small only) {
    ul {
      justify-content: center;
    }
  }
  li {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    a {
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      -webkit-mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      background-color: #ffffff;
      width: 25px;
      height: 25px;
      text-indent: -500px;
      overflow: hidden;
      padding: 0;
      &:hover {
        background-color: $light-blue;
      }
      &.facebook {
        -webkit-mask-image: url(../images/svg/icon-Facebook.svg);
        mask-image: url(../images/svg/icon-Facebook.svg);
        width: 10px;
      }
      &.twitter {
        -webkit-mask-image: url(../images/svg/icon-Twitter.svg);
        mask-image: url(../images/svg/icon-Twitter.svg);
      }
      &.linkedin {
        -webkit-mask-image: url(../images/svg/icon-LinkedIn.svg);
        mask-image: url(../images/svg/icon-LinkedIn.svg);
      }
      &.paypal {
        -webkit-mask-image: url(../images/svg/icon-PayPal.svg);
        mask-image: url(../images/svg/icon-PayPal.svg);
      }
    }
  }
}
