@import "../../../css/_settings.scss";

.statistic {
  flex: 1 1 0;
  text-align: center;
  
  .stat-number {
    font-size: 80px;
    font-weight: $global-weight-bold;
    color: $darkest-blue;
  }
  .stat-title {
    font-family: $font-family-monospace;
    font-size: 22px;
    font-weight: $global-weight-bold;
    color: $darkest-gray;
  }
}