@import "../../../css/_settings.scss";

.statistics {
  margin-top: 70px;
  margin-bottom: 70px;

  h3 {
    font-family: $font-family-monospace;
    font-size: 35px;
    font-weight: $global-weight-bold;
    color: $darkest-gray;
    text-align: center;
    margin-bottom: 10px;
  }
}