<form id="{{ id }}">
  <div class="js-form-item-keyword">
    <div class="input-wrapper">
      <input data-drupal-selector="edit-keyword" type="text" id="edit-keyword" name="keyword" value="" size="30" maxlength="128" class="form-text">
    </div>
  </div>
</form>
