<div class="carousel--four grid-container">
  <div class="grid-x full">
    <div class="small-12 list-title">
      {{ title }}
    </div>
    <div class="small-12 list-content">
      {{ content }}
    </div>
  </div>
</div>
