{# {{ content }} #}

<div class="document-component file-icon">
  <div class="grid-container grid-x">
    <div class="medium-6 medium-offset-3">
      <h3>{{ icon }}{{ title }}</h3>
      <a href="{{ file }}" class="button">Download</a>
    </div>
  </div>
</div>