<nav aria-labelledby="block-armenu-2-menu" class="contextual-region block-armenu-2">
  <h2 class="block-title visually-hidden" id="block-armenu-menu">AR Menu</h2>
  <ul class="menu">
    <li>
      <a href="#" data-drupal-link-system-path="node/86">AR-19 EE Profile 1</a>
    </li>
    <li>
      <a href="#" data-drupal-link-system-path="node/89">AR-19 EE Profile 2</a>
    </li>
  </ul>
</nav>
