<div class="c-tabs grid-container">
  <div class="grid-x">
    <div class="c-tabs--image show-for-large hero-overlay large-3 large-offset-1" style="background-image: url({{ image }})">
    </div>
    {{ tabs }}
  </div>
</div>
