<h5>Proxima Nova</h5>

<h6>Regular</h6>
<p class="tk-proxima-nova" style="font-style:normal;font-weight:100;">ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽabcčćdđefghijklmnopqrsštuvwxyzž1234567890‘?’“!”(%)[#]{@}/&\<-+÷×=>®©$€£¥¢:;,.*</p>
<h6>Italic</h6>
<p class="tk-proxima-nova" style="font-style:italic;font-weight:100;">ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽabcčćdđefghijklmnopqrsštuvwxyzž1234567890‘?’“!”(%)[#]{@}/&\<-+÷×=>®©$€£¥¢:;,.*</p>
<h6>SemiBold</h6>
<p class="tk-proxima-nova" style="font-style:normal;font-weight:400;">ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽabcčćdđefghijklmnopqrsštuvwxyzž1234567890‘?’“!”(%)[#]{@}/&\<-+÷×=>®©$€£¥¢:;,.*</p>
<h6>Bold</h6>
<p class="tk-proxima-nova" style="font-style:normal;font-weight:700;">ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽabcčćdđefghijklmnopqrsštuvwxyzž1234567890‘?’“!”(%)[#]{@}/&\<-+÷×=>®©$€£¥¢:;,.*</p>


<h5>Proxima Nova Condensed</h5>

<h6>Regular</h6>
<p class="tk-proxima-nova-condensed" style="font-style:normal;font-weight:100;">ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽabcčćdđefghijklmnopqrsštuvwxyzž1234567890‘?’“!”(%)[#]{@}/&\<-+÷×=>®©$€£¥¢:;,.*</p>
<h6>Italic</h6>
<p class="tk-proxima-nova-condensed" style="font-style:italic;font-weight:100;">ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽabcčćdđefghijklmnopqrsštuvwxyzž1234567890‘?’“!”(%)[#]{@}/&\<-+÷×=>®©$€£¥¢:;,.*</p>
<h6>Bold</h6>
<p class="tk-proxima-nova-condensed" style="font-style:normal;font-weight:700;">ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽabcčćdđefghijklmnopqrsštuvwxyzž1234567890‘?’“!”(%)[#]{@}/&\<-+÷×=>®©$€£¥¢:;,.*</p>
